%footer
	.inline-footer
		%div.socials= social_model

		= link_to root_path do
			.footer-logo
		%div.copyright-text
			Copyright &copy; База отдыха "Озерки", 2013. All rights reserved
			%br
			= raw 'Copyright &copy; ПАО "СКМЗ", 2013'

		= link_to 'http://vk.com/stager94', target: '_blank' do
			.developed-by