%footer
	.inline-footer
		%div.socials= social_model

		= link_to root_path do
			.footer-logo
		%div.copyright-text
			&copy; 2013 ПАО "Старокраматорский машиностроительный завод"
			%br
			= link_to 'http://vk.com/stager94', target: '_blank' do
				= raw "&copy; Developed by Stanislav Gernyak"