@media (max-width: 979px){
	.rml20-max979{
		margin-left: 0 !important;
	}
}

@media (min-width: 1024px){
	.mt40{
		margin-top: 40px;
	}

	.mt70{
		margin-top: 70px;
	}
}

@media (max-width: 1024px){
	.mt70{
		margin-top: 30px;
	}
}

@media (max-width: 1200px){
	.rml20-max979{
		margin-left: 20px;
	}
}

.none{
	margin: 0 !important;
}