@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/jduSEW07_j4sIG_ERxiq4Q.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/HXiERDIZdwFzjXlbcMq7XPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/Pq7I38KtY37kAe5aYFKrSA.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/lILlYDvubYemzYzN7GbLkBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

.clr-fx{
	clear: both;
}

body{
	background: url(template/background.jpg) no-repeat center top;
	font-family: 'PT Sans';
	font-size: 14px;
}
.caret{
  border-top-color: #fff !important;
}

footer{
  width: 100%;
  margin: 10px 0 0 0;
  /*height: 30px;*/
  padding: 30px 0;
  /*line-height: 50px;*/
  font: bold 14px 'PT Sans';
  background: #eee;

  .inline-footer{
    width: 920px;
    margin: 0 auto;
  }
}

.block-title{
  background: url(template/menu.png) repeat top left;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, .4);*/
  margin-bottom: 10px;
}

#gallery-module{
  display: table;
  margin: 0 auto;
  a{
    color: #222831;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }

    img{
      margin: 10px 10px;
    }
  }
}

@media (max-width: 500px){
  .fancybox-title{
    visibility: hidden !important;
    display: none !important;
  }
}

@media (max-width: 767px){
  footer{
    .inline-footer{
      width: 90%;
    }
  }
  .block-title{
    margin-top: 30px;
  }
  #gallery-module{
    width: 564px;
    a{
      img{
        margin: 15px 40px;
      }
    }
  }
}

@media (max-width: 600px){
  #gallery-module{
    width: 460px;
    a{
      img{
        margin: 15px 14px;
      }
    }
  }
}

@media (max-width: 550px){
  #gallery-module{
    width: 280px;
    a{
      img{
        margin: 10px 40px;
      }
    }
  }
}


@media (max-width: 979px) and (min-width: 768px){
  footer{
    .inline-footer{
      width: 700px;
    }
  }
  #gallery-module{
    width: 564px;
    a{
      img{
        margin: 15px 40px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .span3{
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  footer{
    .inline-footer{
      width: 1000px;
    }
  }

  #gallery-module{
    a{
      img{
        margin: 10px 20px;
      }
    }
  }
}

a{
  h2{
    color: #222831;
  }
  &:hover{
    text-decoration: none !important;
    h2{
      color: #0088cc;
    }
  }
}



.slidesjs-navigation{
  display: none !important;
}

/*News module*/
.news-link{
  color: #222831;
  font-size: 15px;
  /*font-weight: bold;*/
  text-decoration: underline;
}

.news-date{
  color: #7b7b7b;
  font-size: 12px;
}

.news-description{
  color: #1c1c1c;
  font-size: 13px;
  margin-bottom: 20px;
}

/*Inputs and areas*/
textarea, input[type="text"]{
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  resize: none;

  &:focus{
    border-color: #739c0f !important;
  }
}

/*Well*/
.well{
  border: 0 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

/*Buttons*/
.button{
  border: 0;
  padding: 10px 20px;
  color: #fff;
  background-color: #739c0f;

  &:hover{
    background-color: #90c513;
  }
}

#form-errors, #form-notices{
  list-style-type: none;
  margin-left: 0;
}

nav.pagination{
  .page{
    &.current{
      font-weight: bold;
      background: none;
      border: 1px solid #eee;
      color: #a8a8a8;
    }
  }
}



/*Plugin CSS*/
.str_wrap {
    overflow:hidden;
    //zoom:1;
    /*width:100%;*/
    font-size:13px;
    line-height:16px;
    position:relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
    background:#f5f5f5;
    white-space:nowrap;
}

.str_wrap.str_active {
    background:#f1f1f1;
}
.str_move { 
    white-space:nowrap;
    position:absolute; 
    top:0; 
    left:0;
    cursor:move;
}
.str_move_clone {
    display:inline-block;
    //display:inline;
    //zoom:1;
    vertical-align:top;
    position:absolute; 
    left:100%;
    top:0;
}
.str_vertical .str_move_clone {
    left:0;
    top:100%;
}
.str_vertical .str_move {
    white-space:normal;
    width:100%;
}
.str_static .str_move,
.no_drag .str_move{
    cursor:inherit;
}

#webtricker{
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  a{
    color: #222831;
    &:hover{
      text-decoration: underline !important;
    }
  }

  .item{
    margin: 0 20px;
  }
}

#infoline-title{
  float: left;
  height: 36px;
  background: rgb(255, 95, 95);
  text-transform: uppercase;
  line-height: 36px;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  i{ margin-top: 2px; }
}

.marquee{
  margin: 10px 0;
}

.gsInformer{
  width: 100% !important;
  .gsLinks{
    visibility: hidden;
  }
}

.icons-big{
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background: url(glyphicons-big-white.png) no-repeat;

  &.weather{
    background-position: -104px -439px;
  }

  &.tipped-umbrella{
    background-position: -153px -57px;
  }

  &.in-time{
    background-position: -344px -249px;
  }
  &.play{
    background-position: -8px -1063px;
  }
}

.h40-vcenter{
  height: 40px;
  line-height: 40px;
  display: inline-block;
}

.mt-4{
  margin-top: -4px;
}

/* Socials */
.social-icon{
  width: 30px;
  height: 28px;
  display: inline-block;

  &:hover{
    background-position: 0 28px;
    cursor: pointer;
  }
}

.vkontakte{
  background: url(socials/vk.png);
}

.facebook{
  background: url(socials/facebook.png);
}

.twitter{
  background: url(socials/twitter.png);
}

.youtube{
  background: url(socials/youtube.png);
}

.odnoklassniki{
  background: url(socials/ok.png);
}

#photos-wrapper{
  width: 100%;
  text-align: center;

  a{
    img{
      margin: 5px;
    }
  }
}

.metro-block{
  padding: 20px;
  color: white;
  margin: 10px 0;

  strong{
    font-size: 16px;
    font-weight: bold;
    clear: both;
    display: block;
  }

  a{
    color: #80fffb;
    text-decoration: underline;

    &:hover{
      color: #80fffb;
      text-decoration: none;
    }
  }
}

.turquoise{ background: #439d9a !important; }
.red{ background: #bf1e4b !important; }
.purple{ background: #7200ac !important; }
.yellow{ background: #f5a802 !important; }
.blue{ background: #2d89ef !important; }
.green{ background: #00a300 !important; }
.dark-green{ background: #1e7145 !important;}
.light-green{ background: #99b433 !important; }
.pink{ background: #9f00a7 !important; }
.dark-pink { background: #7e3878 !important; }
.yellow{ background: #ffc40d !important; }
.darken{ background: #1d1d1d !important;}
.dark-blue{ background: #2b5797 !important; }
.light-blue{ background: #eff4ff !important; }
.orange{ background: #e3a21a !important; }
.dark-orange{ background: #da532c !important;}
.white{ background: #ffffff !important; }