@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/jduSEW07_j4sIG_ERxiq4Q.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/HXiERDIZdwFzjXlbcMq7XPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/Pq7I38KtY37kAe5aYFKrSA.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/lILlYDvubYemzYzN7GbLkBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

.clr-fx{
	clear: both;
}

body{
	background: url(template/background.jpg) no-repeat center top;
	font-family: 'PT Sans';
	font-size: 14px;
}
.caret{
  border-top-color: #fff !important;
}

footer{
  width: 100%;
  margin: 10px 0 0 0;
  /*height: 30px;*/
  padding: 30px 0;
  /*line-height: 50px;*/
  font: bold 14px 'PT Sans';
  background: #eee;

  .inline-footer{
    width: 920px;
    margin: 0 auto;
  }
}

.block-title{
  background: url(template/menu.png) repeat top left;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}

@media (max-width: 767px){
  footer{
    .inline-footer{
      width: 90%;
    }
  }
}

@media (max-width: 979px) and (min-width: 768px){
  footer{
    .inline-footer{
      width: 700px;
    }
  }  
}

@media (min-width: 1200px) {
  footer{
    .inline-footer{
      width: 1000px;
    }
  }
}